---
import Layout from "../layouts/Layout.astro";
---

{/* */}
<Layout
    title="MexAnCode"
    description="Soy Ricardo Antonio Mex Tun, desarrollador web y experto en soluciones Epicor. Explora mis proyectos, habilidades técnicas y contacta conmigo a través de GitHub o por correo electrónico."
>
    <section>
        <h1 class="title">&lt;MexAnCode/&gt; Antonio Mex</h1>
        <p class="description">
            Desarrollador web y de soluciones en Epicor, apasionado por la
            tecnología y por aprender nuevas cosas.
        </p>

        <div class="contact">
            <h2>Contacto</h2>
            <div class="contact-info">
                <a href="mailto:ricardo.mexan@gmail.com" class="contact-item">
                    <i class="fas fa-envelope"></i> Email
                </a>
                <a
                    href="/RicardoMex_CV.pdf"
                    target="_blank"
                    class="contact-item"
                >
                    <i class="fas fa-download"></i> CV
                </a>
                <a
                    href="https://github.com/RicardoxMex"
                    target="_blank"
                    class="contact-item"
                >
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
        </div>
    </section>

    <section id="skills" class="section">
        <h2 class="sub-title">Habilidades Técnicas</h2>
        <div class="skills">
            <div>
                <h3>Desarrollo Web:</h3>
                <p class="code">
                    <img
                        width={70}
                        height={70}
                        class="p-logo"
                        src="/img/logo_HTML5.webp"
                        alt="logo HTML5"
                        title="HTML5"
                    />
                    <img
                        class="p-logo"
                        src="/img/logo_css3.webp"
                        alt="logo CSS3"
                        title="CSS3"
                    />
                    <img
                        width={70}
                        height={70}
                        class="p-logo"
                        src="/img/logo_js.webp"
                        alt="logo JavaScript"
                        title="JavaScript"
                    />
                    <img
                        width={70}
                        height={45}
                        class="p-logo"
                        src="/img/logo_php.webp"
                        alt="logo PHP"
                        title="PHP"
                    />
                </p>
            </div>
            <div>
                <h3>Frameworks:</h3>
                <p class="code">
                    <img
                        width={70}
                        height={70}
                        class="p-logo"
                        src="/img/logo_laravel.webp"
                        alt="logo Laravel"
                        title="Laravel"
                    />
                    <img
                        width={70}
                        height={70}
                        class="p-logo"
                        src="/img/logo_react.webp"
                        alt="logo React"
                        title="React"
                    />
                </p>
            </div>
            <div>
                <h3>ERP:</h3>
                <p class="code">
                    <img
                        width={70}
                        height={70}
                        class="p-logo"
                        src="/img/logo_epicor.webp"
                        alt="logo Epicor"
                        title="Epicor"
                    />
                </p>
            </div>
            <div>
                <h3>Bases de Datos:</h3>
                <p class="code">
                    <img
                        width={70}
                        height={45}
                        class="p-logo"
                        src="/img/logo_mysql.webp"
                        alt="logo MySQL"
                        title="MySQL"
                    />
                </p>
            </div>
            <div>
                <h3>Herramientas y Tecnologías:</h3>
                <p class="code">
                    <img
                        width={70}
                        height={70}
                        class="p-logo"
                        src="/img/logo_vs.webp"
                        alt="logo VS Code"
                        title="VS Code"
                    />
                    <img
                        width={70}
                        height={40}
                        class="p-logo"
                        src="/img/logo_git.png"
                        alt="logo Git"
                        title="Git"
                    />
                    <img
                        width={70}
                        height={70}
                        class="p-logo"
                        src="/img/logo_postman.webp"
                        alt="logo Postman"
                        title="Postman"
                    />
                </p>
            </div>
        </div>
    </section>

    <section class="projects">
        <h2>Proyectos:</h2>

        <div class="works">
            <div class="project">
                <a href="https://secsa.pages.dev/"  target="_blank">
                    <img
                        width={70}
                        height={70}
                        src="/img/proyecto_SECSA.webp"
                        alt="Captura del proyecto SECSA"
                        title="SECSA"
                    />
                    <div class="overlay">
                        <div class="text">SECSA</div>
                    </div>
                </a>
                <p class="description">
                    Soluciones Estratégicas y Consultoría S.A. de C.V.
                </p>
            </div>
            <div class="project">
                <a href="https://talesforall.mexancode.com/" target="_blank">
                    <img
                        width={70}
                        height={70}
                        src="/img/proyecto_TalesForAll.webp"
                        alt="Captura del proyecto Tales For All"
                        title="Tales For All"
                    />
                    <div class="overlay">
                        <div class="text">Tales For All</div>
                    </div>
                </a>
                <p class="description">
                    Plataforma para crear y compartir cuentos generados con IA.
                </p>
            </div>
        </div>
    </section>
</Layout>

<style>
    .title {
        text-align: center;
        color: #fff;
        font-size: xx-large;
    }

    section {
        margin: 2rem auto;
        width: 100%;
        background-color: rgba(29, 29, 29, 0.74);
        border-radius: 10px;
        border: 1px solid #fff;
        padding: 0.5rem;
        color: #fff;
    }
    .description {
        color: #fff;
        padding: 1rem;
        font-size: 16pt;
    }
    .contact {
        margin-top: 2rem;
        text-align: center;
        width: 100%;
        color: #fff;
    }
    .contact-info {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-item {
        width: 100%;
        background-color: #cecece;
        padding: 1rem;
        font-size: large;
        margin-top: 0.5rem;
        border-radius: 10px;

        color: #2b2b2b;
        cursor: pointer;
        text-decoration: none;
    }

    .contact-item:hover {
        background-color: #7a7a7a;
        color: #fff;
    }
    .contact-item i {
        margin-right: 1rem; /* Espacio horizontal alrededor del ícono */
    }
    /**/
    h2 {
        font-size: x-large;
        margin: 1rem auto;
        text-align: center;
    }

    h3 {
        font-size: large;
        margin: 1rem auto;
    }

    .skills div {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c330.956C70.616%2c327.133%2c143.729%2c353.325%2c207.716%2c323.212C275.109%2c291.496%2c328.943%2c232.028%2c356.905%2c162.993C384.329%2c95.287%2c371.579%2c20.357%2c359.573%2c-51.699C347.804%2c-122.332%2c336.351%2c-196.729%2c288.145%2c-249.679C240.393%2c-302.13%2c165.795%2c-313.401%2c99.167%2c-337.733C27.574%2c-363.878%2c-43.984%2c-420.288%2c-116.726%2c-397.533C-189.474%2c-374.776%2c-213.699%2c-285.849%2c-260.076%2c-225.357C-303.23%2c-169.069%2c-359.413%2c-122.564%2c-379.649%2c-54.585C-401.733%2c19.6%2c-406.841%2c100.837%2c-378.635%2c172.917C-349.703%2c246.851%2c-295.958%2c315.933%2c-222.691%2c346.514C-152.601%2c375.769%2c-75.839%2c335.062%2c0%2c330.956' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 995.617C1530.703 985.566 1625.363 1015.991 1707.531 976.287 1794.32 934.351 1854.713 854.808 1903.48 771.664 1956.355 681.515 2013.762 583.091 1998.824 479.653 1983.888 376.231 1910.362 286.535 1824.763 226.601 1747.838 172.74 1644.283 197.49200000000002 1554.866 168.803 1462.124 139.048 1385.644 29.190000000000055 1291.906 55.63900000000001 1198.371 82.031 1195.372 219.64 1127.649 289.346 1053.644 365.517 907.784 376.97 880.1 479.499 852.97 579.978 957.779 665.81 1000.356 760.779 1043.305 856.576 1038.843 990.659 1131.444 1040.123 1224.999 1090.096 1334.58 1007.298 1440 995.617' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        border-radius: 10px;
        padding: 0.5rem;
        margin: 1rem 0;
    }
    .code {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .code img {
        min-width: 60px;
        width: 75px;
        margin: 0.5rem;
    }

    .p-logo {
        background-color: #fff;
        padding: 0.3rem 0.5rem;
        border-radius: 10px;
    }

    /**Projects */
    .projects {
        padding: 20px;
        border-radius: 8px;

        max-width: 900px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
    }

    .projects h2 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 30px;
    }

    .works {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .project {
        position: relative;
        width: 280px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        padding-bottom: 20px;
    }

    .project img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease;
    }

    .project:hover img {
        transform: scale(1.1);
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    .project:hover .overlay {
        opacity: 1;
    }

    .text {
        color: white;
        font-size: 1.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .projects .description {
        text-align: center;
        padding: 10px;
        color: #555;
        font-size: 1em;
    }
    @media (min-width: 560px) {
        .code img {
            width: 75px;
            height: auto;
        }
    }
    @media (min-width: 768px) {
        .contact-info {
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .contact-item {
            width: 31%;
            margin: 0px;
        }
        section {
            padding: 3rem;
            width: 700px;
        }
        .skills {
            margin: 0 auto;
            width: 600px;
        }

        .code {
            justify-content: center;
        }
        .code img {
            width: 100px;
            margin: 1rem;
        }
    }
</style>
